<div id="<%= dom_id clue %>">
  <p>
    <strong>Clue text:</strong>
    <%= clue.clue_text %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= clue.answer %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= clue.difficulty %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= clue.category %>
  </p>

</div>
