<div id="<%= dom_id puzzle %>">
  <p>
    <strong>Title:</strong>
    <%= puzzle.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= puzzle.description %>
  </p>

  <p>
    <strong>Solution grid:</strong>
    <%= puzzle.solution_grid %>
  </p>

  <p>
    <strong>Blank grid:</strong>
    <%= puzzle.blank_grid %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= puzzle.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= puzzle.height %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= puzzle.difficulty %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= puzzle.published %>
  </p>

</div>
